{% extends 'base.html' %}

{% block content %}

{% if error_message %}
<p class="alert alert-danger"><strong>{{ error_message }}</strong></p>
{% endif %}

<h1 class="text-center mb-3">BBQ Events</h1>
<a class="btn btn-primary" href="">New Event</a><br><br>

{% for event in events %}
<div class="card mb-3">
    <div class="card-body">
        <div>Organizer: {{ event.organizer }}</div><br>
        <div>Date: {{ event.date }}</div><br>
        {% for meat in event.available_meat.all %}
        <div>Available meat: {{ meat.name }}</div><br>
        {% endfor %}
        <div>Share link: <a href="{{ event.share_link }}">{{ event.share_link }}</a></div><br>
    </div>
</div>
{% endfor %}
{% endblock %}